Checks: >
  -*,
  readability-identifier-naming,
  google-*,
  bugprone-*,
  modernize-*,
  performance-*,
  -modernize-use-trailing-return-type

CheckOptions:
  # types
  - { key: readability-identifier-naming.ClassCase,        value: CamelCase }
  - { key: readability-identifier-naming.StructCase,       value: CamelCase }
  - { key: readability-identifier-naming.EnumCase,         value: CamelCase }

  # functions
  - { key: readability-identifier-naming.FunctionCase,     value: CamelCase }
  
    # Setters and getters are ignored
  - { key: readability-identifier-naming.PublicMethodCase, value: CamelCase }
  - { key: readability-identifier-naming.PublicMethodIgnoredRegexp, value: '^(set_[a-z0-9_]+|[a-z0-9_]+)$' }

  - { key: readability-identifier-naming.PrivateMethodCase,value: camelBack }

  # variables
  - { key: readability-identifier-naming.VariableCase,     value: lower_case }
  - { key: readability-identifier-naming.ParameterCase,    value: lower_case }
  - { key: readability-identifier-naming.MemberCase,   value: lower_case }
  - { key: readability-identifier-naming.MemberSuffix, value: '_' }
  - { key: readability-identifier-naming.StructMemberCase, value: lower_case }
  - { key: readability-identifier-naming.StructMemberSuffix, value: "" }


  # namespaces
  - { key: readability-identifier-naming.NamespaceCase,    value: lower_case }

  # constants
  - { key: readability-identifier-naming.ConstantCase,     value: CamelCase }
  - { key: readability-identifier-naming.ConstantPrefix,   value: k }
